*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.6;
  padding: 0;
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
  color: #fbfbfb;
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #264653;
  z-index: 100;
}

.container {
  max-width: 968px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.bd-grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 4rem 0 2rem;
}

.nav {
  max-width: 1024px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 2rem;
}

.countries {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-x: hidden;
}

.card {
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.card-content {
  padding: 1rem;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

input[type="search"] {
  border-radius: 2rem;
  color: #707070;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #f0f0f0;
  height: 2rem;
  width: 100%;
}

.flag {
  height: 100px;
  display: block;
  margin: auto;
}

.filter {
  /* visibility: hidden;
  opacity: 0;
  order: 1; */
  display: none;
}

hr {
  width: 90%;
}

@media screen and (min-width: 556px) {
  a {
    display: block;
  }

  input[type="search"] {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
